* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#main {
    position: relative;
    overflow: hidden;
}

.container {
    height: 100dvh;
}

canvas {
    height: 100vh;
    width: 100vw;
}